body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../assets/background.jpg');
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
    display: flex; /* Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    backdrop-filter: blur(10px);
}

.login-container {
    width: 450px; /* Increased width of the container */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-width: 80px; /* Slightly increased width of the logo */
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
}

h2 {
    text-align: center;
    color: #000000; /* Changed to black */
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
}

.form-group {
    width: 90%;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row; /* Align label and input in the same row */
    align-items: center; /* Center-align items vertically*/
}

.form-group label {
    font-weight: bold;
    color: #333;
    flex: 0 0 30%; /* Make label a fixed width (30% of the row) */
    font-family: "lato",sans-serif;
}

input[type="email"], 
input[type="password"] {
    width: 350px; /* Increased width of text fields */
    padding: 10px; /* Slightly increased padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 400px; /* Set to match the text fields */
    margin-left: 25px;
    padding: 12px;
    background-color: #000000; /* Changed to black */
    color: #ffffff; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: gray; /* Slightly lighter shade for hover effect */
}

#error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.additional-info {
    text-align: center;
    margin-top: 20px;
}

.additional-info a {
    color: blue; /* Changed to black */
    text-decoration: none;
}

.additional-info a:hover {
    text-decoration: underline;
}
