body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0edcc;
    margin: 0;
    padding: 0;
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-width: 150px;
    display: block;
    margin: 0 auto 20px;
}

h2 {
    text-align: center;
    color: #02343f;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #02343f;
}

input[type="email"], 
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding and border are included in the total width and height */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #02343f;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #021e3d; /* Slightly darker shade for hover effect */
}

#error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.additional-info {
    text-align: center;
    margin-top: 20px;
}

.additional-info a {
    color: #02343f;
    text-decoration: none;
}

.additional-info a:hover {
    text-decoration: underline;
}
