body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color:black;
    background-color:#D6CFC4;
    margin-top: -12px;
}

.mission {
    padding: 50px 20px;
    background-color: white;
    color: black;
}

header {
    background-color: #D6CFC4; /* Beige header */
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navigation Bar */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    border-radius: 50%;
}

.platform-name {
    margin-left: 5px; /* Space between logo and name */
    font-size: 30px;
    font-family: 'Kristen ITC', sans-serif;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 7px;
    margin-right: 10px;
}

.nav-links a i {
    font-size: 25px;
}

.nav-links a:hover {
    color: gray; /* Change color on hover */
}

.mission h2 {
    font-size: 35px;
    color: blacks;
    margin-bottom: 20px;
    text-align: center;
}

.mission p {
    font-size: 20px;
    margin-bottom: 20px;
}

.mission ul {
    list-style-type: disc;
    margin-left: 20px;
}

.mission ul li {
    font-size: 20px;
    margin-bottom: 10px;
}

.mission strong {
    font-weight: bold;
    color: black;
}